*.pyc
results/*
Datasets
Output
utils/constants.py
utils/properties.py
audio_trained.h5
config_file/movie/k-score/my_test
properties/movie/my_test/
properties/movie/my_test/constants_test.py
scripts/movie/mytest/
scripts/audio/my-test/audio_test_ex_no_GPU.sh
scripts/audio/my-test/audio_test_ex_no.sh
test.py
test.sh
