*.pyc
results/*
Datasets
Output
utils/constants.py
utils/properties.py
audio_trained.h5
config_file/movie/k-score/my_test
properties/movie/my_test/
properties/movie/my_test/constants_test.py
scripts/movie/mytest/
scripts/audio/my-test/audio_test_ex_no_GPU.sh
scripts/audio/my-test/audio_test_ex_no.sh
test.py
test.sh
config_file/movie/my_test/movie_test.yaml
EPOCH-020.h5
EPOCH-040.h5
config_file/movie/k-score/test
config_file/movie/k-score/train
config_file/mnist/k-score/test
config_file/mnist/k-score/train
config_file/mnist/k-score/test_weak
config_file/audio/k-score/test
config_file/audio/k-score/train
config_file/audio/k-score/test_weak
config_file/lenet/k-score/test
config_file/lenet/k-score/train
config_file/lenet/k-score/test_weak
config_file/udacity/k-score/test
config_file/udacity/k-score/train
config_file/udacity/k-score/test_weak